@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f5f6; 
}

#root {
  min-height: 100vh;
}
body {
  @apply bg-gray-100;
}
@layer components {
  .input {
    @apply border border-gray-300 rounded-md px-4 py-2 w-full
           focus:outline-none focus:ring-1 focus:ring-[#27314B];
  }
}